<header class="w-full fixed top-0 left-0 backdrop-blur-sm z-10">
  <div class="flex items-center justify-between px-10 md:px-0 md:max-w-[1200px] my-0 mx-auto">

    <div class="w-1/3 md:1/4 md:hidden">
      <button class="text-white relative z-10 flex flex-col items-center justify-center blob-button w-10 h-4">
        <span class="absolute z-10">menu</span>
        <div class="blob blob-shadow w-10 h-10 border-4 border-slate-800"></div>
      </button>
    </div>
    
    <div class="w-1/3 md:1/4 flex justify-center md:justify-start relative">
      <div class="flex justify-center items-center">
        <h1 class="text-white text-3xl font-bold py-4">R&O</h1>
        <!-- <div class="hidden md:block blob blob-shadow blob-menu w-10 h-10 border-4 border-slate-800"></div> -->
      </div>
    </div>

    <nav class="w-1/2 hidden md:flex flex-col items-center relative">
      <ul class="flex list w-full justify-between">
        <li class="list__item"><a href="#" class="block p-4 text-white">Sobre</a></li>
        <li class="list__item"><a href="#" class="block p-4 text-white">Portfólio</a></li>
        <li class="list__item"><a href="#" class="block p-4 text-white">Carreira</a></li>
        <li class="list__item"><a href="#" class="block p-4 text-white">Conhecimentos</a></li>
        <li class="list__item"><a href="#" class="block p-4 text-white">Contatos</a></li>
      </ul>
    </nav>
    
    <nav class="w-1/3 md:1/4">
      <ul class="flex justify-end gap-4">
        <li><a href="" title="Linkedin" class="block py-1 px-3 text-white border-2 border-slate-800 rounded-full">L</a></li>
        <li><a href="" title="Github" class="block py-1 px-3 text-white border-2 border-slate-800 rounded-full">G</a></li>
        <li><a href="" title="Email" class="block py-1 px-3 text-white border-2 border-slate-800 rounded-full">E</a></li>
      </ul>
    </nav>

  </div>
</header>
