<div class="w-full fixed z-10 flex justify-center border-b-2 border-slate-700 px-10 backdrop-blur-sm">
  <header class="w-full xl:w-5/6 flex justify-between items-center gap-32 relative z-10">
    <div class="flex justify-center text-center py-4 absolute inset-x-0 xl:relative">
      <a href="/">
        <h2 data-animation="fade" class="font-bold text-4xl text-white">R&amp;O</h2>
      </a>
    </div>
    <div class="relative z-10">
      <div>
        <button (click)="handleShowMenu()" class="xs:block xl:hidden bg-white p-4 uppercase rounded-xl text-black font-bold my-6">Menu</button>
        <nav class="
          hidden
          items-left
          gap-10
          xl:flex 
          xl:flex-col
          xl:relative
          xl:bg-transparent
          xl:gap-0 
          xl:h-fit
          xl:w-fit
          xl:p-0
        ">
          <ul class="flex gap-10 flex-col xl:flex-row items-start xl:items-center">
            @for(link of links; track link.label; let i = $index){
              <headerlink-component [label]="link.label" [url]="link.url" />
            }
          </ul>
        </nav>
      </div>
    </div>
    <div class="relative z-10 hidden md:block xl:1/4" data-animation="fade">
      <networks-component />
    </div>
  </header>
</div>
<div
  class="
    fixed
    top-0
    left-0
    bg-[#0000007b]
    h-full
    w-full
    py-6
    px-10
    backdrop-blur-md 
    flex-col
    items-start
    gap-10
    overflow-y-auto
    z-10
  "
  [ngClass]="{
    'flex': showMenu,
    'hidden': !showMenu
  }"
>
  <div>
    <button (click)="handleShowMenu()" class="xs:block xl:hidden bg-white p-4 uppercase rounded-xl text-black font-bold">Fechar</button>
  </div>
  <ul class="flex gap-10 flex-col xl:flex-row items-start xl:items-center">
    @for(link of links; track link.label; let i = $index){
      <li data-animation="fade" [attr.data-animation-duration]="'0.' + i + 's'">
        <a [href]="link.url" class="block xl:py-10 text-white hover:underline">{{ link.label }}</a>
      </li>
    }
  </ul>
  <div class="relative z-10 block md:block xl:1/4">
    <networks-component />
  </div>
</div>