<div
  class="fixed h-screen w-full bg-slate-800 bg-opacity-90 top-0 left-0 z-20 justify-center items-center backdrop-blur-md"
  [ngClass]="{
    'flex': showModal,
    'hidden': !showModal
  }"
>

  <div class="w-full md:w-3/4 flex flex-col justify-center items-center overflow-hidden rounded-xl">
    <div class=" w-full bg-slate-500 p-8">
      <div class="w-full flex justify-between items-start">
        <div class="flex flex-col gap-16">
          <div class="flex flex-col gap-2">
            <h2 class="text-white text-4xl font-bold">{{ informations.resume.name }}</h2>
            <p class="text-white text-2xl">{{ informations.name }}</p>
            <p class="text-white">{{ informations.startEndDate.startDate | date }} - {{informations.startEndDate.isCurrent && 'atual' || informations.startEndDate.endDate | date}}</p>
          </div>
          <div class="flex gap-2">
            @for(category of informations.categories; track category.name ){
              <p class="text-white"><strong>#{{ category.name }}</strong></p>
            }
          </div>
        </div>
        <button (click)="handleCloseModal()" class="border-2 border-slate-100 py-4 px-6 text-white rounded-full font-bold text-3xl">X</button>
      </div>
    </div>
    <div class="w-full bg-black p-8 max-h-[500px] overflow-y-auto">
      <div class="w-full flex flex-col items-start gap-8">
        <div class="text-white flex flex-col gap-2" [innerHTML]="handleSanitizeHTML(informations.moreInformations.html)"></div>
        <!-- <div>
          <a class="text-white border border-slate-500 rounded-full py-2 px-4" href="https://wizard.com.br/" target="_blank">Ver projeto</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

