<div
  class="fixed h-screen w-full bg-[#00000090] top-0 left-0 z-20 justify-center items-center backdrop-blur-md"
  
  [ngClass]="{
    'flex': showModal,
    'hidden': !showModal
  }"
>

  <div class="w-full md:w-3/4 flex flex-col justify-center items-center overflow-hidden rounded-xl">
    <div class=" w-full bg-slate-900 p-16">
      <div class="w-full flex justify-between items-center">
        <div class="flex flex-col gap-16">
          <div>

            <!-- <input [(ngModel)]="teste" />
            <p class="text-white">{{ teste }}</p> -->

            <h2 class="text-white text-4xl font-bold">{{ title }}</h2>
            <p class="text-white">{{ subtitle }}</p>
          </div>
          <p class="text-white"><strong>{{ tags }}</strong></p>
        </div>
        <button class="border-2 border-slate-100 py-4 px-6 text-white rounded-full font-bold text-3xl">X</button>
      </div>
    </div>
    <div class="w-full bg-black p-16 max-h-[500px] overflow-y-auto">
      <div class="w-full flex flex-col items-start gap-8">
        <div>
          <p class="text-white">
            Fui um dos responsáveis por desenvolver o front-end de uma aplicação de gerenciamento de manutenção de aeronaves para uma das maiores empresas do país. Essa aplicação auxilia no controle dos processos de manutenção das peças de uma aeronave, exibindo cada passo desse fluxo de manutenção. O front-end desta aplicação foi desenvolvido em React, Redux e outras tecnologias do ecossistema React.
            <br/>
            <br/>
            Destaco também minha atuação no desenvolvimento de sites para a principal escola de idiomas do país, onde fui o principal responsável pela construção e entrega desse projeto. O objetivo deste projeto era reformular o site principal desta instituição, além de fornecer um novo site para cada um de seus mais de 1200 franqueados, permitindo uma integração entre o site principal e dos franqueados. O site foi desenvolvido em Wordpress e hospedado dentro da AWS. Neste projeto, tive a oportunidade de atuar, de ponta a ponta, num projeto tecnológico; desde a interação com o cliente, onde auxiliei na definição das regras de negócio, premissas e funcionalidades, até a entrega em produção do resultado final. 
          </p>
        </div>
        <div>
          <a class="text-white border border-slate-500 rounded-full py-2 px-4" href="https://wizard.com.br/" target="_blank">Ver projeto</a>
        </div>
      </div>
    </div>
  </div>
</div>

