<div
  class="items-start flex flex-col gap-4"
  [ngClass]="direction"
  data-aos="fade-up"
>

  <h2 class="text-white text-3xl font-bold" [ngClass]="textDirection">{{ item?.resume?.name || '' }}</h2>
  <p class="text-slate-500 text-xl" [ngClass]="textDirection"><strong>{{ item.name }}</strong></p>
  <p class="text-white" [ngClass]="textDirection">{{ item?.resume?.description || '' }}</p>
  <p class="text-white" [ngClass]="textDirection">{{ item.startEndDate.startDate | date:'MMMM, y' | titlecase }} - {{ item.startEndDate.isCurrent && 'atual' || (item.startEndDate.endDate | date:'MMMM, y' | titlecase)  }}</p>
  <button-component
    [label]="'Saiba mais +'"
    (action)="handleOpenModal(item)"
  />
</div>
