<div class="w-full flex flex-col gap-2">
  <div class="flex items-center gap-16">
    @for(post of posts(); track post.id){
      <article>
        <a class="text-white text-sm" [href]="'https://rafaelestevam.netlify.app/' + post.slug" [title]="post.title" target="_blank">
          <h3 class="text-white text-xl font-bold hover:underline">{{post.title}}</h3>
        </a>
        <summary class="text-white font-thin list-none">{{post.shortText}}</summary>
      </article>
    }

    <a href="https://rafaelestevam.netlify.app" target="_blank" class="text-white border border-slate-500 rounded-full py-2 px-4">
      Mais publicações +
    </a>
    
  </div>
  
</div>
